	<!--Main Slider-->
	<section class="main-slider">
		<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
			<div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
				<ul>
					<!-- Slide 1 -->
					<li data-index="rs-1" data-transition="zoomout">
						<!-- MAIN IMAGE -->
						<img src="../../../assets/images/main-slider/1.jpg" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="../../../assets/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Solutions for your businesses</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>Narrowing the <br><span class="color2">digital</span> divide.</h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">In partnership with Automation Anywhere.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

					<!-- Slide 2 -->
					<li data-index="rs-2" data-transition="zoomin">
						<!-- MAIN IMAGE -->
						<img src="../../../assets/images/main-slider/2.jpg" alt="" class="rev-slidebg">

						<div class="tp-caption tp-resizeme rs-parallaxlevel-3 hidden-mobile"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[0,0,0,0]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="shape"
						data-height="none"
						data-whitespace="nowrap"
						data-width="none"
						data-hoffset="['-270','-190','-60','-190']"
						data-voffset="['160','160','180','160']"
						data-x="['center','center','center','center']"
						data-y="['middle','middle','middle','middle']"
						data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":3000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'>
							<figure><img src="../../../assets/images/main-slider/arrow.png" alt=""></figure>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-190','-190','-190','-200']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<span class="title">Solutions for your businesses</span>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','650']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['-50','-50','-50','-80']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<h1>IT Solutions <br><span class="color2">&</span> Technology</h1>
						</div>

						<div class="tp-caption"
						data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[0,0,0,0]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['750','750','750','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['90','90','90','65']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<div class="text">There are many of passages of lorem Ipsum, but the majori have<br> suffered alteration in some form.</div>
						</div>


						<div class="tp-caption" data-paddingbottom="[0,0,0,0]"
						data-paddingleft="[15,15,15,15]"
						data-paddingright="[15,15,15,15]"
						data-paddingtop="[0,0,0,0]"
						data-responsive_offset="on"
						data-type="text" data-height="none"
						data-width="['700','750','700','450']"
						data-whitespace="normal"
						data-hoffset="['0','0','0','0']"
						data-voffset="['185','185','200','185']"
						data-x="['left','left','left','left']"
						data-y="['middle','middle','middle','middle']"
						data-textalign="['top','top','top','top']"
						data-frames='[{"delay":1000,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
							<a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</li>

				</ul>
			</div>
		</div>
	</section>
	<!-- End Main Slider-->

	<!-- Services Section Three -->
	<section class="services-section-three layout_7 pt-0">
		<div class="auto-container">
			<div class="outer-box">
				<div class="row justify-content-center">
					<!-- Service Block Two -->
					<div class="service-block-three col wow fadeInUp">
						<div class="inner-box ">
							<i class="icon flaticon-business-002-graph"></i>
							<h6 class="title"><a href="page-service-details.html">Product <br>Development</a></h6>
							<div class="text">Providing the solutions for tech business</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block-three col wow fadeInUp" data-wow-delay="200ms">
						<div class="inner-box ">
							<i class="icon flaticon-business-010-startup"></i>
							<h6 class="title"><a href="page-service-details.html">Digital <br>Marketing</a></h6>
							<div class="text">Providing the solutions for tech business</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block-three col wow fadeInUp" data-wow-delay="400ms">
						<div class="inner-box ">
							<i class="icon flaticon-business-030-settings"></i>
							<h6 class="title"><a href="page-service-details.html">Security <br>System</a></h6>
							<div class="text">Providing the solutions for tech business</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block-three col wow fadeInUp" data-wow-delay="600ms">
						<div class="inner-box ">
							<i class="icon flaticon-business-045-stationery"></i>
							<h6 class="title"><a href="page-service-details.html">UI/UX <br>Designing</a></h6>
							<div class="text">Providing the solutions for tech business</div>
						</div>
					</div>

					<!-- Service Block Two -->
					<div class="service-block-three col wow fadeInUp" data-wow-delay="800ms">
						<div class="inner-box">
							<i class="icon flaticon-business-054-graph"></i>
							<h6 class="title"><a href="page-service-details.html">Data <br>Analysis</a></h6>
							<div class="text">Providing the solutions for tech business</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Three -->

	<!-- About Section -->
	<section class="about-section">

		
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-7 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">OUR STORY</span>
							<h2>HeadFord is a specialized agency. <span>We help remarkable B2B companies grow.</span></h2>
							<h4>Simply stated, we love our mission. </h4>
							<div class="text">Our work crosses the boundaries of B2B marketing, content, sales enablement, qualified lead generation, website design, and B2B strategy. We are obsessed with improving measurable business results for B2B companies.</div>
						</div>

						<div class="content-box">
							<div class="info-box">
								<h5 class="title">iS Your Sales and Marketing Tech Stack Weighing You Down?</h5>
								<a href="#" class="read-more">More <i class="fa fa-long-arrow-alt-right"></i></a>
							</div>

							<div class="about-block">
								<i class="icon flaticon-business-018-startup"></i>
								<h5 class="title">Featured Article </h5>
								<div class="text">We’ve designed a culture that allows our stewards to assimilate</div>
							</div>

							<div class="about-block">
								<i class="icon flaticon-business-027-world"></i>
								<h5 class="title">Internal Networking</h5>
								<div class="text">We’ve designed a culture that allows our stewards to assimilate.</div>
							</div>

						</div>

						<div class="btm-box">
							<a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">Discover more</span></a>
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-6 col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="../../../assets/images/resource/about-1.jpg" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="../../../assets/images/resource/about-2.jpg" alt=""></figure>
						<div class="experience bounce-y">
							<img src="../../../assets/images/resource/image-1.jpg" alt="" class="icon">
							<strong>3600+</strong> Satisfied Client
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section -->

	<!-- About Section Five -->
	<section class="about-section-five style-two">
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-xl-6 col-lg-6 col-md-12 wow fadeInRight"
					data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<h2>How well does your marketing drive business results?</h2>
							<div class="text">Marketing conversion rates matter. Our mission is to help remarkable companies grow better and more effectively. We focus on the metrics that matter. Our demand generation and ABM campaigns convert ideal buyers and communicate a clear value proposition.</div>
						</div>

						<ul class="list-style-three">
							<li>Marketing ROI</li>
							<li>Websites</li>
							<li>Marketing and sales alignment</li>
							<li>Content and campaigns</li>
							<li>Measurement, ROI, and attribution</li>
						</ul>

					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-xl-6 col-lg-6 col-md-12 ">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image overlay-anim wow fadeInUp"><img src="../../../assets/images/resource/about-11.jpg" alt=""></figure>
							<div class="experience">
								<strong>26</strong>
								<div class="text">Years <br>Experience</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section Five -->


	<!-- Offer Section -->
	<section class="offer-section">
		<div class="auto-container">
			<div class="row">
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title light">
							<span class="sub-title">OUR STORY</span>
							<h2>Increase Marketing Conversion Rates</h2>
							<div class="info-box mt-3">
							<i class="icon flaticon-business-036-idea"></i>
							<h5 class="title">Develop a scalable B2B <br/>growth engine</h5>
						</div>
							<h4>We focus on marketing results — but only the ones that matter.<span> No marketing fluff, no vanity metrics.</span></h4>
						</div>
						
						<ul class="list-style-two">
							
							<li><i class="fa fa-check-circle"></i>Just ROI and lead generation and conversion through your sales funnel.</li>
							<li><i class="fa fa-check-circle"></i>Our conversion scales over time, bringing real business growth.</li>
							<li><i class="fa fa-check-circle"></i>Measure what marketing investments work. Identify what is not working. Transform B2B marketing to grow.</li>
						</ul>
					</div>
				</div>

				<!-- Content Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image-box">
							<figure class="image"><img src="../../../assets/images/resource/image-3.jpg" alt=""></figure>
							<div class="caption-box wow slideInRight">
								<div class="icon-box">
									<a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now-two lightbox-image"><i class="icon fa fa-play"></i></a>
								</div>
								<div class="title-box">
									<h5 class="title">Professional IT technology services you can trust</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Offer Section -->

	<!-- Work Section -->
	<section class="work-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">Tech Management</span>
				<h2>The Best Source for <br> Solutions</h2>
			</div>

			<div class="tabs-box work-tabs">
				<!--Tabs Box-->
				<ul class="tab-buttons clearfix">
					<li class="tab-btn" data-tab="#tab1">Our Results</li>
					<li class="tab-btn active-btn" data-tab="#tab2">B2B Marketing Agency</li>
					<li class="tab-btn" data-tab="#tab3">Research report:</li>
				</ul>

				<div class="tabs-content">
					<!--Tab-->
					<div class="tab" id="tab1">
						<div class="row">
							<!-- Content Column -->
							<div class="content-column col-xl-7 col-lg-6 col-md-12 order-2">
								<div class="inner-column">
									<h2>HeadFord is a solid investment in your growth.</h2>
									<div class="text">Our work crosses the boundaries of B2B marketing, content, sales enablement, qualified lead generation, website design, and B2B strategy. We are obsessed with improving measurable business results for B2B companies.</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="image-column col-xl-5 col-lg-6 col-md-12">
								<figure class="image overlay-anim"><img src="../../../assets/images/dotGraph.png" alt=""></figure>
							</div>
						</div>
					</div>

					<!--Tab-->
					<div class="tab active-tab" id="tab2">
						<div class="row">
							<!-- Content Column -->
							<div class="content-column col-xl-7 col-lg-6 col-md-12">
								<div class="inner-column">
									<h3>HeadFord is <strong>HubSpot Diamond Certified</strong> Agency Partner, <strong>Google Partner,</strong> and Databox Premier Certified <strong>Agency Partner</strong></h3>

									<div class="btm-box">
							<a href="#" class="theme-btn btn-style-one"><span class="btn-title">Find Out How We Can Help You Grow</span></a>
						</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="image-column col-xl-5 col-lg-6 col-md-12">
								<figure class="image overlay-anim"><img src="../../../assets/images/partner.png" alt=""></figure>
							</div>
						</div>
					</div>

					<!--Tab-->
					<div class="tab" id="tab3">
						<div class="row">
							<!-- Content Column -->
							<div class="content-column col-xl-7 col-lg-6 col-md-12 ">
								<div class="inner-column">
									<h2>How B2B Marketers Can Make the Most Impact.</h2>
									<h4><strong>Ironpaper conducted a market survey of 180 B2B leaders to understand their focal points.</strong></h4>
                                    <div class="text">As growth goals for 2023 evolve, B2B marketers must re-evaluate how to bring true sales-qualified leads into the funnel and continuously prime the pipeline for success.</div>
									<div class="btm-box">
							<a href="#" class="theme-btn btn-style-one"><span class="btn-title">Download Research Report</span></a>
						</div>
								</div>
							</div>

							<!-- Image Column -->
							<div class="image-column col-xl-5 col-lg-6 col-md-12">
								<figure class="image overlay-anim"><img src="../../../assets/images/marketer.png" alt=""></figure>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Work Section -->

	<!-- Services Section Four -->
	<section class="services-section-five" style="background-image: url(../../../assets/images/background/5.jpg)">
		<div class="auto-container">
			<div class="sec-title light text-center">
				<span class="sub-title">Services we’re offering</span>
				<h2>B2B Marketing & Sales</h2>
			</div>

			<div class="row">
				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon flaticon-business-035-helpline"></i>
						</div>
						<h4 class="title"><a href="page-service-details.html">Marketing</a></h4>
						<div class="text">
							ABM<br/>
						    Demand Gen<br/>
						    Lead Gen
						</div>
					</div>
				</div>

				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon flaticon-business-010-startup"></i>
						</div>
						<h4 class="title"><a href="page-service-details.html">Content</a></h4>
						<div class="text">
							Strategy & Creation<br/>
						    Thought Leadership<br/>
						    Messaging
						</div>
					</div>
				</div>

				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon flaticon-business-032-megaphone"></i>
						</div>
						<h4 class="title"><a href="page-service-details.html">Strategy</a></h4>
						<div class="text">
							B2B<br/>
						    Growth<br/>
						    & Execution
						</div>
					</div>
				</div>

				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1200ms">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon flaticon-business-063-diamond"></i>
						</div>
						<h4 class="title"><a href="page-service-details.html">Digital</a></h4>
						<div class="text">
							Marketing<br/>
						    Websites<br/>
						    Buyer’s Journey
						</div>
					</div>
				</div>


				<!-- Service Block Five -->
				<div class="service-block-five col-lg-3 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="1600ms">
					<div class="inner-box ">
						<div class="icon-box">
							<i class="icon flaticon-business-063-diamond"></i>
						</div>
						<h4 class="title"><a href="page-service-details.html">Sales</a></h4>
						<div class="text">
							Enablement<br/>
						    Acceleration<br/>
						    Nurturing
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section Four-->


	<!-- Features Section Six -->
	<section class="features-section-six">
		<div class="auto-container">
			<div class="row">
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box ">
						<span class="icon">3,660 </span>
						<h4 class="title"><a href="#">search ranking increase</a></h4>
						<p>in Search Ranking Positions in a Year for Sparks Group Recruiting.</p>
						<a href="page-services.html" class="theme-btn btn-style-two small hvr-light"><span class="btn-title">Find Your Solution</span></a>
					</div>
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 hide-md ">
					<div class="inner-box ">
						<figure class="image"><img src="../../../assets/images/feature-bg-6.png" alt=""></figure>
						<div class="content-box">
								<h5 class="title"><a href="page-project-details.html"> Shell Catalysts
                                  & Technologies</a></h5>
								<span class="cat"> ABM Campaigns for the ENERGY INDUSTRY</span>
								<a href="page-project-details.html" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
					</div>
					
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 hide-md ">
					<div class="inner-box ">
						<figure class="image"><img src="../../../assets/images/feature-bg-9.png" alt=""></figure>
						<div class="content-box">
								<h5 class="title"><a href="page-project-details.html">Fleet Management Marketing & Technologies</a></h5>
								<span class="cat">Fleet & Supply Chains</span>
								<a href="page-project-details.html" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
					</div>
					
				</div>

			</div>
			<div class="row">
				

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 hide-md ">
					<div class="inner-box ">
						<figure class="image"><img src="../../../assets/images/feature-bg-8.png" alt=""></figure>
						<div class="content-box">
								<h5 class="title"><a href="page-project-details.html">Goddard Technologies</a></h5>
								<span class="cat">Product Development</span>
								<a href="page-project-details.html" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
					</div>
					
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 hide-md ">
					<div class="inner-box ">
						<figure class="image"><img src="../../../assets/images/feature-bg-7.png" alt=""></figure>
						<div class="content-box">
								<h5 class="title"><a href="page-project-details.html">SC&T Global Business</a></h5>
								<span class="cat">Marketing For Energy & Industrials</span>
								<a href="page-project-details.html" class="icon"><i class="fa fa-long-arrow-alt-right"></i></a>
							</div>
					</div>
					
				</div>

				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box ">
						<span class="icon">86% </span>
						<h4 class="title"><a href="#">increase</a></h4>
						<p>in MQLs over 6 months and 10 SQLs created in a month.</p>
						<a href="page-services.html" class="theme-btn btn-style-two small hvr-light"><span class="btn-title">Find Your Solution</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Features Section four -->

	<!-- Testimonial Section Three -->
	<section class="testimonial-section-four">
		<div class="auto-container">
			<div class="row">
				<!-- Title Column -->
				<div class="title-column col-xl-5 col-lg-6 col-md-12">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Our feedbacks</span>
							<h2>What They’re Talking About Us</h2>
							<div class="text">There are many variations of passages the majority have suffered alteration in some fo injected humour, or randomised words believable.</div>
						</div>
					</div>
				</div>

				<!-- Testimonial Column -->
				<div class="testimonial-column col-xl-7 col-lg-6 col-md-12">
					<div class="carousel-outer">
						<div class="testimonial-bg" style="background-image: url(../../../assets/images/resource/testimonial-bg.png)"></div>
						<div class="testimonial-carousel-four owl-carousel owl-theme">

							<!-- Testimonial Block Four -->
							<div class="testimonial-block-four">
								<div class="inner-box">
									<div class="content-box">
										<span class="icon icon-quote"></span>
										<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
										<div class="text">Our experience with Ironpaper has honestly been really wonderful. We looked for a partner who could literally be part of our marketing team  and… that really has happened.</div>
									</div>
									<div class="info-box">
										<figure class="thumb"><img src="../../../assets/images/resource/testi-thumb-3.jpg" alt=""></figure>
										<h5 class="name">Tamara Burkholder</h5>
										<span class="designation">Marketing Communications & Business Operations Manager</span>
									</div>
								</div>
							</div>

							<!-- Testimonial Block Four -->
							<div class="testimonial-block-four">
								<div class="inner-box">
									<div class="content-box">
										<span class="icon icon-quote"></span>
										<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
										<div class="text">Our experience with Ironpaper has honestly been really wonderful. We looked for a partner who could literally be part of our marketing team  and… that really has happened.</div>
									</div>
									<div class="info-box">
										<figure class="thumb"><img src="../../../assets/images/resource/testi-thumb-3.jpg" alt=""></figure>
										<h5 class="name">Tamara Burkholder</h5>
										<span class="designation">Marketing Communications & Business Operations Manager</span>
									</div>
								</div>
							</div>

                           <!-- Testimonial Block Four -->
							<div class="testimonial-block-four">
								<div class="inner-box">
									<div class="content-box">
										<span class="icon icon-quote"></span>
										<div class="rating"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
										<div class="text">Our experience with Ironpaper has honestly been really wonderful. We looked for a partner who could literally be part of our marketing team  and… that really has happened.</div>
									</div>
									<div class="info-box">
										<figure class="thumb"><img src="../../../assets/images/resource/testi-thumb-3.jpg" alt=""></figure>
										<h5 class="name">Tamara Burkholder</h5>
										<span class="designation">Marketing Communications & Business Operations Manager</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Section Three -->

	<!-- About Section four -->
	<section class="about-section-four">
		<div class="auto-container">
			<div class="row">
				<div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 wow fadeInRight" data-wow-delay="600ms">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">OUR TEAM</span>
							<h2>Successful B2B marketing is teamwork.</h2>
							<h4>Creative, digital, and marketing superheroes, <span>we want you.</span></h4>
							<div class="text">HeadFord was founded in New York City in 2003 with a mission to help companies drive growth using the digital space. Today, our team of 70 people has taken this mission to heart. We transform marketing and sales programs.</div>

                            <div class="text">HeadFord is headquartered in NYC, but our team is across the US. We’re looking for talented marketers, writers, designers, technologists, analysts, researchers, developers, and leaders to join our team.</div>
						</div>


						<div class="btn-box d-flex">
							<a href="page-about.html" class="theme-btn btn-style-one"><span class="btn-title">VIEW ALL-REMOTE JOB OPENINGS</span></a>
							
						</div>
					</div>
				</div>

				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInLeft">
						<span class="float-text">HeadFord</span>
						<figure class="image-1 overlay-anim wow fadeInUp"><img src="../../../assets/images/resource/about-7.jpg" alt=""></figure>
						<figure class="image-2 overlay-anim wow fadeInRight"><img src="../../../assets/images/resource/about-8.jpg" alt=""></figure>
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Emd About Section four -->

	<!-- FAQ Section -->
	<section class="faqs-section style-two">
		<div class="auto-container">
			<div class="row">
				<!-- FAQ Column -->
				<div class="faq-column col-xl-6 col-lg-12 col-md-12 order-4">
					<div class="inner-column">
						<div class="sec-title">
							<span class="sub-title">Questions & answers</span>
							<h2>See Frequently Asked Questions</h2>
						</div>

						<ul class="accordion-box wow fadeInRight">
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">Is my technology allowed on tech?
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">There are many variations of passages the majority have suffered
											alteration in some fo
											injected humour, or randomised words believable.</div>
									</div>
								</div>
							</li>
							<!--Block-->
							<li class="accordion block active-block">
								<div class="acc-btn active">How to soft launch your business?
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content current">
									<div class="content">
										<div class="text">There are many variations of passages the majority have suffered
											alteration in some fo injected humour, or randomised words believable.</div>
									</div>
								</div>
							</li>
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">How to turn visitors into contributors
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">There are many variations of passages the majority have suffered
											alteration in some fo injected humour, or randomised words believable.</div>
									</div>
								</div>
							</li>
							<!--Block-->
							<li class="accordion block">
								<div class="acc-btn">How can i find my solutions?
									<div class="icon fa fa-plus"></div>
								</div>
								<div class="acc-content">
									<div class="content">
										<div class="text">There are many variations of passages the majority have suffered
											alteration in some fo injected humour, or randomised words believable.</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<!-- image Column -->
				<div class="image-column col-xl-6 col-lg-12 col-md-12">
					<div class="inner-column">
						<figure class="image"><img src="../../../assets/images/resource/faq.jpg" alt=""></figure>
						<div class="info-box">
							<div class="inner">
								<span class="icon flaticon-business-063-diamond"></span>
								<h3 class="title">Trusted IT Solution<br> & Service Business Agency</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End FAQ Section -->


	<!-- News Section -->
	<section class="news-section">
		<div class="auto-container">
			<div class="sec-title text-center">
				<span class="sub-title">from the blog</span>
				<h2>News & Articles</h2>
			</div>

			<div class="row">
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="../../../assets/images/resource/news-1.jpg" alt=""></a></figure>
							<span class="date"><b>28</b> OCT</span>
						</div>
						<div class="content-box">
							<ul class="post-info">
								<li><i class="fa fa-user"></i> by Admin</li>
								<li><i class="fa fa-tag"></i> Technology</li>
							</ul>
							<h4 class="title"><a href="news-details.html">Professional technology information & solutions are just like…</a></h4>
						</div>
						<div class="bottom-box">
							<a href="news-details.html" class="read-more">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
							<div class="comments"><i class="fa fa-comments"></i> 02</div>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="300ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="../../../assets/images/resource/news-2.jpg" alt=""></a></figure>
							<span class="date"><b>28</b> OCT</span>
						</div>
						<div class="content-box">
							<ul class="post-info">
								<li><i class="fa fa-user"></i> by Admin</li>
								<li><i class="fa fa-tag"></i> Technology</li>
							</ul>
							<h4 class="title"><a href="news-details.html">Professional technology information & solutions are just like…</a></h4>
						</div>
						<div class="bottom-box">
							<a href="news-details.html" class="read-more">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
							<div class="comments"><i class="fa fa-comments"></i> 02</div>
						</div>
					</div>
				</div>

				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="600ms">
					<div class="inner-box">
						<div class="image-box">
							<figure class="image"><a href="news-details.html"><img src="../../../assets/images/resource/news-3.jpg" alt=""></a></figure>
							<span class="date"><b>28</b> OCT</span>
						</div>
						<div class="content-box">
							<ul class="post-info">
								<li><i class="fa fa-user"></i> by Admin</li>
								<li><i class="fa fa-tag"></i> Technology</li>
							</ul>
							<h4 class="title"><a href="news-details.html">Professional technology information & solutions are just like…</a></h4>
						</div>
						<div class="bottom-box">
							<a href="news-details.html" class="read-more">Read More <i class="fa fa-long-arrow-alt-right"></i></a>
							<div class="comments"><i class="fa fa-comments"></i> 02</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End News Section -->